body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  background: whitesmoke;
}

.navbar{
  display: flex;
  justify-content: space-between;
  /* align-content: space-between; */
}
.navbar .logo{
  /* width: 70%; */
  text-transform: uppercase;
  font-size: 30px;
}
.card-image{
  width: 80%;
  border-radius: 10px;
  border: 1px solid black;
}
.card {
  /* width: 250px; */
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.btn {
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-remove{
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #513282;
}

.heading {
  padding: 25px 0;
}
.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}
.navLink {
  /* width: 40%; */
  padding: 10px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.cartWrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}
.cart-product{
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.cart-product p{
  width: 20%;
  font-size: 15px;
  line-height: 20px;
  
}
.cart-image{
  width: 200px;
}